html, body {
  height: 100%;
  background: cornflowerblue;
  overflow: hidden; }

.game {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%; }
  .game__canvases {
    position: relative;
    width: 100%;
    height: 100%; }
  .game__canvas {
    position: absolute;
    left: 0;
    top: 0; }
  .game__dom {
    position: absolute;
    left: 10px;
    top: 10px;
    right: 10px;
    bottom: 10px;
    z-index: 2; }
  .game__controls {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2; }
    @media screen and (max-width: 850px) {
      .game__controls {
        display: block; } }
  .game__move {
    position: absolute;
    background-color: transparent;
    border: none;
    bottom: 0px;
    -webkit-box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.4);
            box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    outline: 0;
    -webkit-transition: -webkit-transform .25s;
    transition: -webkit-transform .25s;
    transition: transform .25s;
    transition: transform .25s, -webkit-transform .25s; }
    .game__move:active, .game__move-active {
      -webkit-transform: scale(1.2);
              transform: scale(1.2); }
    .game__move_left {
      left: 0px;
      background-image: url(../img/sprite.png);
      background-position: 0px -64px;
      width: 64px;
      height: 64px; }
    .game__move_right {
      right: 0px;
      background-image: url(../img/sprite.png);
      background-position: -64px 0px;
      width: 64px;
      height: 64px; }

.health {
  position: absolute;
  bottom: 20px;
  white-space: nowrap;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  margin: 0;
  padding: 0;
  font-size: 20px; }
  .health__heart {
    display: inline-block;
    margin: 0;
    padding: 0; }
    @media screen and (max-width: 320px) {
      .health__heart {
        width: 8px;
        height: 10px; }
        .health__heart-full {
          background: #c00; }
        .health__heart-empty {
          background: #333; }
        .health__heart-half {
          background: #c00;
          width: 4px; } }
    @media screen and (min-width: 320px) {
      .health__heart {
        margin-left: -2px; }
        .health__heart-full {
          background-image: url(../img/sprite.png);
          background-position: -148px -59px;
          width: 18px;
          height: 18px; }
        .health__heart-empty {
          background-image: url(../img/sprite.png);
          background-position: -148px -95px;
          width: 18px;
          height: 18px; }
        .health__heart-half {
          background-image: url(../img/sprite.png);
          background-position: -148px -77px;
          width: 18px;
          height: 18px; } }
