html, body {
  height: 100%;
  background: cornflowerblue;
  overflow: hidden; }

.game {
  position: absolute;
  left: 0;
  top: 0; }
  .game__canvases {
    position: relative;
    width: 100%;
    height: 100%; }
  .game__canvas {
    position: absolute;
    left: 0;
    top: 0; }
