html, body {
  height: 100%;
  background: cornflowerblue;
  overflow: hidden;
  font-display: swap;
  font-family: 'Russo One', sans-serif;
  font-size: 16px;
  color: #111; }

canvas {
  -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -webkit-optimize-contrast;
      image-rendering: -moz-crisp-edges;
      image-rendering: -o-pixelated;
      image-rendering: pixelated; }

.game {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-shadow: 1px 1px rgba(200, 200, 200, 0.5);
  width: 100%;
  height: 100%; }
  .game__canvases {
    position: relative;
    width: 100%;
    height: 100%; }
  .game__canvas {
    position: absolute;
    left: 0;
    top: 0; }
  .game__dom {
    position: absolute;
    left: 10px;
    top: 10px;
    right: 10px;
    bottom: 10px;
    z-index: 2; }
  .game__controls {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2; }
    @media screen and (max-width: 850px) {
      .game__controls {
        display: block; } }
  .game__move {
    background-color: transparent;
    border: none;
    bottom: 0px;
    -webkit-box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.4);
            box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    outline: 0;
    -webkit-transition: -webkit-transform .25s;
    transition: -webkit-transform .25s;
    transition: transform .25s;
    transition: transform .25s, -webkit-transform .25s;
    font-size: 0;
    cursor: pointer;
    position: absolute; }
    .game__move:active, .game__move-active {
      -webkit-transform: scale(1.2);
              transform: scale(1.2); }
    .game__move:focus {
      -webkit-transform: scale(1.05);
              transform: scale(1.05); }
    .game__move_left {
      left: 0px;
      background-image: url(../img/sprite.png);
      background-position: -64px -64px;
      width: 64px;
      height: 64px; }
    .game__move_right {
      right: 0px;
      background-image: url(../img/sprite.png);
      background-position: 0px -64px;
      width: 64px;
      height: 64px; }

.health {
  position: absolute;
  bottom: 20px;
  white-space: nowrap;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  margin: 0;
  padding: 0; }
  .health-little_health {
    -webkit-animation: littleHealth 0.3s infinite;
            animation: littleHealth 0.3s infinite; }
  .health__prev, .health__real {
    font-size: 0;
    position: relative; }
  .health__real {
    z-index: 3; }
    .health__real-blink {
      -webkit-animation: blink 0.5s steps(1, end) infinite;
              animation: blink 0.5s steps(1, end) infinite; }
  .health__prev {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2; }
  .health__heart {
    display: inline-block;
    margin: 0;
    padding: 0;
    -ms-interpolation-mode: nearest-neighbor;
        image-rendering: -webkit-optimize-contrast;
        image-rendering: -moz-crisp-edges;
        image-rendering: -o-pixelated;
        image-rendering: pixelated; }
    @media screen and (max-width: 319px) {
      .health__heart {
        width: 8px;
        height: 10px; }
        .health__heart-full {
          background: #c00; }
        .health__heart-empty {
          background: #333; }
        .health__heart-half {
          position: relative;
          background: #333; }
          .health__heart-half:before {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            right: 50%;
            bottom: 0;
            background: #c00; } }
    @media screen and (min-width: 320px) {
      .health__heart {
        margin-left: -2px; }
        .health__heart-full {
          background-image: url(../img/sprite.png);
          background-position: -141px -80px;
          width: 18px;
          height: 18px; }
        .health__heart-empty {
          background-image: url(../img/sprite.png);
          background-position: -18px -128px;
          width: 18px;
          height: 18px; }
        .health__heart-half {
          background-image: url(../img/sprite.png);
          background-position: 0px -128px;
          width: 18px;
          height: 18px; } }

@-webkit-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; } }

@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; } }

@-webkit-keyframes littleHealth {
  10% {
    margin: -1px -1px; }
  25% {
    margin: 1px 1px; }
  50% {
    margin: 1px -1px; }
  75% {
    margin: -1px 1px; }
  100% {
    margin: 1px 1px; } }

@keyframes littleHealth {
  10% {
    margin: -1px -1px; }
  25% {
    margin: 1px 1px; }
  50% {
    margin: 1px -1px; }
  75% {
    margin: -1px 1px; }
  100% {
    margin: 1px 1px; } }

.coins {
  font-family: 'Russo One', sans-serif;
  font-size: 18px; }
  .coins__label, .coins__val {
    display: inline-block;
    vertical-align: middle; }
  .coins__val {
    font-size: 18px;
    margin-left: 5px; }

.won {
  visibility: hidden;
  opacity: 0;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  -webkit-transition: visibility ease 0.5s, opacity 0.5s;
  transition: visibility ease 0.5s, opacity 0.5s; }
  .won-show {
    visibility: visible;
    opacity: 1; }
  .won__content {
    position: absolute;
    left: 50%;
    top: 40%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    max-width: 90%;
    max-height: 90%; }
  .won__header {
    margin-bottom: 20px; }
  .won__title {
    text-align: center;
    font-size: 25px;
    text-shadow: 1px 1px rgba(200, 200, 200, 0.5); }
  .won__buttons {
    text-align: center;
    -webkit-perspective: 500px;
            perspective: 500px; }
  .won__button {
    width: 300px;
    max-width: 100%;
    font-family: 'Russo One', sans-serif;
    padding: 8px 0;
    background: #c8c8c8;
    border: 0;
    border-radius: 2px;
    outline: 0;
    display: block;
    margin-top: 10px;
    cursor: pointer;
    -webkit-transition: background .5s;
    transition: background .5s; }
    .won__button:first-child {
      margin-top: 0; }
    .won__button:hover {
      background: rgba(200, 200, 200, 0.6); }
    .won__button:active {
      background: #c8c8c8; }

.fps {
  position: absolute;
  top: 0;
  right: 0;
  font-family: arail;
  font-size: 16px;
  color: #c00;
  font-weight: bold; }

.notify {
  position: absolute;
  left: 50%;
  top: 50px;
  white-space: nowrap;
  -webkit-transform: translate(-50%, -150px);
          transform: translate(-50%, -150px);
  -webkit-transition: -webkit-transform ease .3s;
  transition: -webkit-transform ease .3s;
  transition: transform ease .3s;
  transition: transform ease .3s, -webkit-transform ease .3s;
  font-size: 20px;
  text-shadow: 1px 1px rgba(200, 200, 200, 0.5); }
  @media screen and (max-width: 300px) {
    .notify {
      font-size: 10px; } }
  .notify-show {
    -webkit-transform: translate(-50%, 15vh);
            transform: translate(-50%, 15vh); }
  .notify-error {
    color: #c00; }
  .notify-warning {
    color: #ff8200; }

.instruction {
  visibility: hidden;
  opacity: 0;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  -webkit-transition: visibility ease 0.5s, opacity 0.5s;
  transition: visibility ease 0.5s, opacity 0.5s; }
  .instruction-show {
    visibility: visible;
    opacity: 1; }
  .instruction__content {
    position: absolute;
    left: 50%;
    top: 40%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    max-width: 90%;
    max-height: 90%; }
  .instruction__header {
    margin-bottom: 20px; }
  .instruction__title {
    text-align: center;
    font-size: 25px;
    text-shadow: 1px 1px rgba(200, 200, 200, 0.5); }
  .instruction__buttons {
    text-align: center;
    -webkit-perspective: 500px;
            perspective: 500px; }
  .instruction__button {
    width: 300px;
    max-width: 100%;
    font-family: 'Russo One', sans-serif;
    padding: 8px 0;
    background: #c8c8c8;
    border: 0;
    border-radius: 2px;
    outline: 0;
    display: block;
    margin-top: 10px;
    cursor: pointer;
    -webkit-transition: background .5s;
    transition: background .5s; }
    .instruction__button:first-child {
      margin-top: 0; }
    .instruction__button:hover {
      background: rgba(200, 200, 200, 0.6); }
    .instruction__button:active {
      background: #c8c8c8; }

.open_menu {
  background-color: transparent;
  border: none;
  bottom: 0px;
  -webkit-box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  outline: 0;
  -webkit-transition: -webkit-transform .25s;
  transition: -webkit-transform .25s;
  transition: transform .25s;
  transition: transform .25s, -webkit-transform .25s;
  font-size: 0;
  cursor: pointer;
  position: absolute;
  top: 50px;
  left: 0;
  z-index: 5;
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 64px;
  height: 64px;
  display: none; }
  .open_menu:active, .open_menu-active {
    -webkit-transform: scale(1.2);
            transform: scale(1.2); }
  .open_menu:focus {
    -webkit-transform: scale(1.05);
            transform: scale(1.05); }

.menu {
  visibility: hidden;
  opacity: 0;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  -webkit-transition: visibility ease 0.5s, opacity 0.5s;
  transition: visibility ease 0.5s, opacity 0.5s; }
  .menu-show {
    visibility: visible;
    opacity: 1; }
  .menu__content {
    position: absolute;
    left: 50%;
    top: 40%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    max-width: 90%;
    max-height: 90%; }
  .menu__header {
    margin-bottom: 20px; }
  .menu__title {
    text-align: center;
    font-size: 25px;
    text-shadow: 1px 1px rgba(200, 200, 200, 0.5); }
  .menu__buttons {
    text-align: center;
    -webkit-perspective: 500px;
            perspective: 500px; }
  .menu__button {
    width: 300px;
    max-width: 100%;
    font-family: 'Russo One', sans-serif;
    padding: 8px 0;
    background: #c8c8c8;
    border: 0;
    border-radius: 2px;
    outline: 0;
    display: block;
    margin-top: 10px;
    cursor: pointer;
    -webkit-transition: background .5s;
    transition: background .5s; }
    .menu__button:first-child {
      margin-top: 0; }
    .menu__button:hover {
      background: rgba(200, 200, 200, 0.6); }
    .menu__button:active {
      background: #c8c8c8; }
