.instruction.game__menu_modal
   header.instruction__header
      h1.instruction__title Hunter
      .instruction__exit Продолжить игру

   div.instruction__main
      .instruction__present
         img.instruction__present_img(src="img/present.png" alt="Hunter, скриншот")

      .instruction__text
         p Простая, но при этом увлекательная 2d-игра в стиле Maincraft. Играть можно как на компьютере, так и на смартфоне или планшене. 
         
         h2 Цель игры
         p Целью игры является прохождение всех уровней. Что бы пройти уровень нужно собрать все ценные предметы, и только после этого прийти на финиш.
         p Если вы придете на финиша до того, как соберете все предметы, то ничего не произойдет.
         P Сможете пройти последний уровень с первого раза?
        
         h2 Управление
         p  В игре есть несколько способов управление:

         ul
            li A/D/W (налево, направо, прыжок)
            li Клавише со стрелками
            li Касание по кнопкам - налево, направо, касание по экрану - прыжок (для сенсорных экранов)
         
