.instruction
   .instruction__content
      header.instruction__header
         h1.instruction__title Hunter - инструкция

      div.instruction__main
         .instruction__present
            img.present_img(src="img/present.png")

         .instruction__text
            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt accusamus nihil est vel rem omnis nobis voluptatibus, nemo nostrum pariatur aut molestias, iste eum aperiam quibusdam, optio nisi ducimus totam?
            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt accusamus nihil est vel rem omnis nobis voluptatibus, nemo nostrum pariatur aut molestias, iste eum aperiam quibusdam, optio nisi ducimus totam?
            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt accusamus nihil est vel rem omnis nobis voluptatibus, nemo nostrum pariatur aut molestias, iste eum aperiam quibusdam, optio nisi ducimus totam?
            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt accusamus nihil est vel rem omnis nobis voluptatibus, nemo nostrum pariatur aut molestias, iste eum aperiam quibusdam, optio nisi ducimus totam?
            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt accusamus nihil est vel rem omnis nobis voluptatibus, nemo nostrum pariatur aut molestias, iste eum aperiam quibusdam, optio nisi ducimus totam?
            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt accusamus nihil est vel rem omnis nobis voluptatibus, nemo nostrum pariatur aut molestias, iste eum aperiam quibusdam, optio nisi ducimus totam?
            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt accusamus nihil est vel rem omnis nobis voluptatibus, nemo nostrum pariatur aut molestias, iste eum aperiam quibusdam, optio nisi ducimus totam?
            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt accusamus nihil est vel rem omnis nobis voluptatibus, nemo nostrum pariatur aut molestias, iste eum aperiam quibusdam, optio nisi ducimus totam?
            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt accusamus nihil est vel rem omnis nobis voluptatibus, nemo nostrum pariatur aut molestias, iste eum aperiam quibusdam, optio nisi ducimus totam?
            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt accusamus nihil est vel rem omnis nobis voluptatibus, nemo nostrum pariatur aut molestias, iste eum aperiam quibusdam, optio nisi ducimus totam?
            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt accusamus nihil est vel rem omnis nobis voluptatibus, nemo nostrum pariatur aut molestias, iste eum aperiam quibusdam, optio nisi ducimus totam?
            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt accusamus nihil est vel rem omnis nobis voluptatibus, nemo nostrum pariatur aut molestias, iste eum aperiam quibusdam, optio nisi ducimus totam?
            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt accusamus nihil est vel rem omnis nobis voluptatibus, nemo nostrum pariatur aut molestias, iste eum aperiam quibusdam, optio nisi ducimus totam?
            
             
      footer.menu__footer