script(src="js/polyfills.js")

script(src="js/functions.js")
script(src="js/sprites_config.js")

script(src="js/events.js")

script(src="js/plugins/notify.js")
script(src="js/plugins/modal.js")
script(src="js/plugins/fps_meter.js")

script(src="js/game/game.js")

script(src="js/game/geometry/vector.js")
script(src="js/game/geometry/rect.js")

script(src="js/game/sprite.js")

script(src="js/game/render.js")
script(src="js/game/camera.js") 

script(src="js/game/physics/gravity.js")
script(src="js/game/physics/collisions.js")
script(src="js/game/physics/world_borders.js") 

script(src="js/game/map_manager.js")
script(src="js/game/map_parser.js")
script(src="js/game/level.js")

script(src="js/game/objects/block.js")
script(src="js/game/objects/dinamic_block.js")

script(src="js/game/objects/lava.js")

script(src="js/game/objects/actor.js")
script(src="js/game/objects/dinamic_actor.js")

script(src="js/game/objects/platform.js")
script(src="js/game/objects/teleport.js")

script(src="js/game/objects/persons/sprinter.js")
script(src="js/game/objects/persons/steve.js")

script(src="js/game/objects/coin.js")

script(src="js/game/objects/finish.js")

script(src="js/game/player.js")
script(src="js/game/health.js")

script(src="js/main.js")