.menu.game__menu_modal
   header.menu__header
      .menu__title Hunter

   div.menu__main
      .menu__buttons
         button.menu__button.game__resume Продолжить
         button.menu__button.game__level_restart Начать уровень сначала
         button.menu__button.game__game_restart Начать игру сначала
         button.menu__button.open_social Поделиться
         button.menu__button.open_instruction Инструкция