script(src="https://vk.com/js/api/share.js?95")

.social

   .social.social__button.social__vk_share
      script.
         document.write(VK.Share.button(false,{type: "round", text: "Поделиться"}));
   
   .social__button
      .social__fb_share
         iframe(src="https://www.facebook.com/plugins/share_button.php?href=http%3A%2F%2Fhunter-2d.tk&layout=button_count&size=small&mobile_iframe=true&width=105&height=20&appId" width="105" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media")

