.won.game__menu_modal
   header.won__header
      .won__title Вы победили!

   div.won__main
      .won__buttons
         button.won__button.game__resume Продолжить
         button.won__button.game__game_restart Начать игру сначала
         button.won__button.game__open_secret_level Секретный уровень