.open_menu
   @extend %game_font

   position: absolute
   top: 0
   right: 0
   z-index: 5
   border: none
   cursor: pointer
   background: none
   outline: none   
   font-size: 16px
   
.menu
   @include base_menu()