doctype html
html(lang="ru")
   head
      block head
         title Hunter - собери все ценные предметы на карте и приди на финиш
         
         meta(name="description" content='Сможешь пройти последний уровень в первого раза?.. Простая, но при этом увлекательная 2d-игра в стиле Maincraft. Цель: собрать все ценные предметы и прийти на финиш. Играть можно везде (на смартфоне, планшете, ноутбуке, компьютере). Также вы можете...') 
         meta(name="Keywords" content="2d maincraft маинкрафт мейнкрафт game хантер hunter hunter-2d mobile")

         meta(charset="utf-8") 
         meta(name="viewport", content="width=device-width, initial-scale=1") 
         link(rel="shortcut icon", href="favicon.png", type="image/png")       

         <!-- build:js js/main-#{Date.now()}.js defer -->
         include components/js_add.jade
         //endbuild

         include components/start_style.jade
     
   body
      .wrapper
         header.header
            //-include components/header.jade
         main.main
            .game
               include components/instruction.jade

               .game__canvases
                  canvas.game__canvas.game__main_canv   
               .game__dom 
                  .fps 0

                  .health 
                     .health__prev
                     .health__real

                  .game__controls
                     .game__move_buttons
                        button.game__move.game__move_left Left
                        button.game__move.game__move_right Right

                  .game__statuses  
                     .coins
                        .coins__label Собрано предметов:
                        .coins__val 0/0 

                  .open_menu Menu 

               include components/menu.jade
               include components/won.jade

         .footer
                  
      <!-- build:css css/main-#{Date.now()}.css -->
      link(rel="stylesheet", href="css/fonts.css") 
      link(rel="stylesheet", href="css/lib/normalize.min.css")
      link(rel="stylesheet", href="css/main.css")
      //endbuild 

      include components/analytics.jade