doctype html
html
   head
      block head
         title Hunter
         
         meta(charset="utf-8") 
         meta(name="viewport", content="width=device-width, initial-scale=1") 
         link(rel="shortcut icon", href="f.png", type="image/png")
         
         //build:css css/main.css
         link(rel="stylesheet", href="css/lib/normalize.min.css")
         link(rel="stylesheet", href="css/main.css")
         //endbuild 

         //build:js js/main.js defer
         script(defer, src="js/functions.js")
         script(defer, src="js/sprites_config.js")

         script(defer, src="js/events.js")

         script(defer, src="js/game/game.js")

         script(defer, src="js/game/geometry/vector.js")
         script(defer, src="js/game/geometry/rect.js")

         script(defer, src="js/game/sprite.js")

         script(defer, src="js/game/render.js")
         script(defer, src="js/game/camera.js") 

         script(defer, src="js/game/physics/gravity.js")
         script(defer, src="js/game/physics/collisions.js") 

         script(defer, src="js/game/map_manager.js?0")
         script(defer, src="js/game/map_parser.js")
         script(defer, src="js/game/level.js")

         script(defer, src="js/game/objects/block.js")
         script(defer, src="js/game/objects/dinamic_block.js")
         script(defer, src="js/game/objects/actor.js")

         script(defer, src="js/game/objects/persons/steve.js")
         script(defer, src="js/game/objects/coin.js")

         script(defer, src="js/game/objects/finish.js")


         script(defer, src="js/game/player.js")

         script(defer, src="js/main.js?1")

         //script(defer, src="js/tests/test_sprite.js")

         //endbuild
    
   body
      .wrapper
         header.header
            //-include components/header.jade
         main.main
            .game
               .game__canvases
                  canvas.game__canvas.game__main_canv   

               .game__dom 

                  .game__controls
                     .game__move_buttons
                        button.game__move.game__move_left
                        button.game__move.game__move_right

                  .game__statuses   
                     .game__coins 0/0   

         .footer
            //-include components/footer.jade
               
                  