doctype html
html(lang="ru")
   head     
      include components/meta.jade   

      //build:css css/main.css
      link(rel="stylesheet", href="css/fonts.css") 
      link(rel="stylesheet", href="css/lib/normalize.min.css")
      link(rel="stylesheet", href="css/main.css")
      //endbuild   

   body
      .wrapper
         header.header
            //-include components/header.jade
         main.main
            .game
               include components/instruction.jade  

               .game__canvases
                  canvas.game__canvas.game__main_canv   
               .game__dom 
                  .fps 0

                  .health 
                     .health__prev
                     .health__real

                  .game__controls
                     .game__move_buttons
                        button.game__move.game__move_left Left
                        button.game__move.game__move_right Right

                  .game__statuses  
                     .coins
                        .coins__label Собрано предметов:
                        .coins__val 0/0 

                  .open_menu Menu 

               include components/menu.jade
               include components/won.jade
               //include components/social.jade

         .footer

   //build:js js/main.js
   include components/js_add.jade
   //endbuild

   include components/analytics.jade