.page_ready .game__menu_modal
   visibility: visible!important
   opacity: 1!important
      
html, body 
   height: 100%
   background: cornflowerblue
   overflow: hidden
   font-display: swap
   font-family: helvetica, arial, sans-serif
   font-size: 16px
   color: #111

canvas
   image-rendering: pixelated

%game_font
   font-family: 'arial', sans-serif
   font-weight: bold
   text-shadow: $game_text-shadow

@mixin control_button
   background-color: transparent
   border: none
   bottom: 0px
   box-shadow: 1px 1px 1px 0 rgba(0,0,0,.4)
   border-radius: 50%
   outline: 0
   transition: transform .25s
   font-size: 0
   cursor: pointer
   
   &:active, &-active
      transform: scale(1.2)  

   &:focus
      transform: scale(1.05)   

@mixin base_menu
   //header
   &__header
      margin-bottom: 20px
   
   &__title
      @extend %game_font
      text-align: center
      font-size: 30px   
   
   //main

   &__buttons
      text-align: center
      perspective: 500px

   &__button 
      @extend %game_font

      width: 300px
      max-width: 100%
      padding: 8px 0
      background: rgba(200,200,200,1)
      border: 0
      border-radius: 2px
      outline: 0 
      text-shadow: $game_text-shadow   
      display: block
      margin-top: 10px
      cursor: pointer

      transition: background .5s,
         transform: .5s

      &:first-child
         margin-top: 0

      &:hover
         background: rgba(200,200,200,0.6)

      &:active
         background: rgba(200,200,200,1) 

      &:focus
         background: rgba(180,180,180,1) 

h1 
   @extend %game_font
   font-size: 25px

h2 
   @extend %game_font
   font-size: 16px

ul 
   list-style-position: inside
   padding: 10px
