html, body 
   height: 100%
   background: cornflowerblue
   overflow: hidden

.game
   position: fixed
   left: 0
   top: 0
   right: 0
   bottom: 0

   width: 100%
   height: 100%

   &__canvases
      position: relative
      width: 100%
      height: 100%

   &__canvas
      position: absolute
      left: 0
      top: 0
      
   &__dom
      position: absolute
      left: 10px
      top: 10px
      right: 10px
      bottom: 10px
      //background: rgba(0,255,0,0.2)
      z-index: 2
   
   &__controls
      display: none   
      position: absolute
      left: 0
      top: 0
      right: 0
      bottom: 0
      z-index: 2

      @media screen and (max-width: 850px) 
         display: block 

   //move buttons
   &__move
      position: absolute
      background-color: transparent
      border: none
      bottom: 0px
      box-shadow: 1px 1px 1px 0 rgba(0,0,0,.4)
      border-radius: 50%
      outline: 0
      transition: transform .25s
      
      &:active, &-active
         transform: scale(1.2)

      &_left
         left: 0px
         @include sprite($go_to_left)
      
      &_right
         right: 0px
         @include sprite($go_to_right)

   &__statuses


//Health

.health
   position: absolute
   bottom: 20px
   white-space: nowrap
   left: 50%
   transform: translate(-50%)
   margin: 0
   padding: 0
   font-size: 20px

   &__heart 
      display: inline-block
      margin: 0
      padding: 0

      @media screen and (max-width: 320px)
         $width: 8px
         width: $width
         height: 10px

         &-full
            background: #c00

         &-empty
            background: #333

         &-half
            background: #c00
            width: $width / 2

      @media screen and (min-width: 320px)
         margin-left: -2px

         &-full
            @include sprite($health-full) 

         &-empty
            @include sprite($health-empty) 

         &-half
            @include sprite($health-half) 