.instruction
   @include base_menu()
   user-select: normal

   &__content
      background: #fff
      width: 90%
      padding: 10px

   &__present
      float: left
      margin-right: 20px

   &__text
      font-family: arial


.present_img
   width: 400px
   max-width: 100%
   image-rendering: pixelated
   display: block

