// SASS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home
//   width: $icon-home-width
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites
$go-jump-name: 'go_jump'
$go-jump-x: 422px
$go-jump-y: 140px
$go-jump-offset-x: -422px
$go-jump-offset-y: -140px
$go-jump-width: 64px
$go-jump-height: 64px
$go-jump-total-width: 492px
$go-jump-total-height: 438px
$go-jump-image: '../img/sprite.png'
$go-jump: (422px, 140px, -422px, -140px, 64px, 64px, 492px, 438px, '../img/sprite.png', 'go_jump', )
$go-to-left-name: 'go_to_left'
$go-to-left-x: 422px
$go-to-left-y: 204px
$go-to-left-offset-x: -422px
$go-to-left-offset-y: -204px
$go-to-left-width: 64px
$go-to-left-height: 64px
$go-to-left-total-width: 492px
$go-to-left-total-height: 438px
$go-to-left-image: '../img/sprite.png'
$go-to-left: (422px, 204px, -422px, -204px, 64px, 64px, 492px, 438px, '../img/sprite.png', 'go_to_left', )
$go-to-right-name: 'go_to_right'
$go-to-right-x: 50px
$go-to-right-y: 286px
$go-to-right-offset-x: -50px
$go-to-right-offset-y: -286px
$go-to-right-width: 64px
$go-to-right-height: 64px
$go-to-right-total-width: 492px
$go-to-right-total-height: 438px
$go-to-right-image: '../img/sprite.png'
$go-to-right: (50px, 286px, -50px, -286px, 64px, 64px, 492px, 438px, '../img/sprite.png', 'go_to_right', )
$player-go-name: 'player-go_'
$player-go-x: 276px
$player-go-y: 172px
$player-go-offset-x: -276px
$player-go-offset-y: -172px
$player-go-width: 13px
$player-go-height: 32px
$player-go-total-width: 492px
$player-go-total-height: 438px
$player-go-image: '../img/sprite.png'
$player-go-: (276px, 172px, -276px, -172px, 13px, 32px, 492px, 438px, '../img/sprite.png', 'player-go_', )
$sprinter-go-1-name: 'sprinter_go_1'
$sprinter-go-1-x: 116px
$sprinter-go-1-y: 0px
$sprinter-go-1-offset-x: -116px
$sprinter-go-1-offset-y: 0px
$sprinter-go-1-width: 112px
$sprinter-go-1-height: 139px
$sprinter-go-1-total-width: 492px
$sprinter-go-1-total-height: 438px
$sprinter-go-1-image: '../img/sprite.png'
$sprinter-go-1: (116px, 0px, -116px, 0px, 112px, 139px, 492px, 438px, '../img/sprite.png', 'sprinter_go_1', )
$sprinter-go-2-name: 'sprinter_go_2'
$sprinter-go-2-x: 186px
$sprinter-go-2-y: 140px
$sprinter-go-2-offset-x: -186px
$sprinter-go-2-offset-y: -140px
$sprinter-go-2-width: 90px
$sprinter-go-2-height: 140px
$sprinter-go-2-total-width: 492px
$sprinter-go-2-total-height: 438px
$sprinter-go-2-image: '../img/sprite.png'
$sprinter-go-2: (186px, 140px, -186px, -140px, 90px, 140px, 492px, 438px, '../img/sprite.png', 'sprinter_go_2', )
$sprinter-go-3-name: 'sprinter_go_3'
$sprinter-go-3-x: 93px
$sprinter-go-3-y: 140px
$sprinter-go-3-offset-x: -93px
$sprinter-go-3-offset-y: -140px
$sprinter-go-3-width: 93px
$sprinter-go-3-height: 140px
$sprinter-go-3-total-width: 492px
$sprinter-go-3-total-height: 438px
$sprinter-go-3-image: '../img/sprite.png'
$sprinter-go-3: (93px, 140px, -93px, -140px, 93px, 140px, 492px, 438px, '../img/sprite.png', 'sprinter_go_3', )
$sprinter-go-4-name: 'sprinter_go_4'
$sprinter-go-4-x: 228px
$sprinter-go-4-y: 0px
$sprinter-go-4-offset-x: -228px
$sprinter-go-4-offset-y: 0px
$sprinter-go-4-width: 104px
$sprinter-go-4-height: 140px
$sprinter-go-4-total-width: 492px
$sprinter-go-4-total-height: 438px
$sprinter-go-4-image: '../img/sprite.png'
$sprinter-go-4: (228px, 0px, -228px, 0px, 104px, 140px, 492px, 438px, '../img/sprite.png', 'sprinter_go_4', )
$sprinter-go-5-name: 'sprinter_go_5'
$sprinter-go-5-x: 0px
$sprinter-go-5-y: 0px
$sprinter-go-5-offset-x: 0px
$sprinter-go-5-offset-y: 0px
$sprinter-go-5-width: 116px
$sprinter-go-5-height: 140px
$sprinter-go-5-total-width: 492px
$sprinter-go-5-total-height: 438px
$sprinter-go-5-image: '../img/sprite.png'
$sprinter-go-5: (0px, 0px, 0px, 0px, 116px, 140px, 492px, 438px, '../img/sprite.png', 'sprinter_go_5', )
$sprinter-go-6-name: 'sprinter_go_6'
$sprinter-go-6-x: 332px
$sprinter-go-6-y: 140px
$sprinter-go-6-offset-x: -332px
$sprinter-go-6-offset-y: -140px
$sprinter-go-6-width: 80px
$sprinter-go-6-height: 140px
$sprinter-go-6-total-width: 492px
$sprinter-go-6-total-height: 438px
$sprinter-go-6-image: '../img/sprite.png'
$sprinter-go-6: (332px, 140px, -332px, -140px, 80px, 140px, 492px, 438px, '../img/sprite.png', 'sprinter_go_6', )
$sprinter-go-7-name: 'sprinter_go_7'
$sprinter-go-7-x: 422px
$sprinter-go-7-y: 0px
$sprinter-go-7-offset-x: -422px
$sprinter-go-7-offset-y: 0px
$sprinter-go-7-width: 70px
$sprinter-go-7-height: 140px
$sprinter-go-7-total-width: 492px
$sprinter-go-7-total-height: 438px
$sprinter-go-7-image: '../img/sprite.png'
$sprinter-go-7: (422px, 0px, -422px, 0px, 70px, 140px, 492px, 438px, '../img/sprite.png', 'sprinter_go_7', )
$sprinter-go-8-name: 'sprinter_go_8'
$sprinter-go-8-x: 332px
$sprinter-go-8-y: 0px
$sprinter-go-8-offset-x: -332px
$sprinter-go-8-offset-y: 0px
$sprinter-go-8-width: 90px
$sprinter-go-8-height: 140px
$sprinter-go-8-total-width: 492px
$sprinter-go-8-total-height: 438px
$sprinter-go-8-image: '../img/sprite.png'
$sprinter-go-8: (332px, 0px, -332px, 0px, 90px, 140px, 492px, 438px, '../img/sprite.png', 'sprinter_go_8', )
$sprinter-jump-name: 'sprinter_jump'
$sprinter-jump-x: 0px
$sprinter-jump-y: 140px
$sprinter-jump-offset-x: 0px
$sprinter-jump-offset-y: -140px
$sprinter-jump-width: 93px
$sprinter-jump-height: 146px
$sprinter-jump-total-width: 492px
$sprinter-jump-total-height: 438px
$sprinter-jump-image: '../img/sprite.png'
$sprinter-jump: (0px, 140px, 0px, -140px, 93px, 146px, 492px, 438px, '../img/sprite.png', 'sprinter_jump', )
$sprinter-stand-name: 'sprinter_stand'
$sprinter-stand-x: 0px
$sprinter-stand-y: 286px
$sprinter-stand-offset-x: 0px
$sprinter-stand-offset-y: -286px
$sprinter-stand-width: 50px
$sprinter-stand-height: 152px
$sprinter-stand-total-width: 492px
$sprinter-stand-total-height: 438px
$sprinter-stand-image: '../img/sprite.png'
$sprinter-stand: (0px, 286px, 0px, -286px, 50px, 152px, 492px, 438px, '../img/sprite.png', 'sprinter_stand', )
$steve-go-name: 'steve_go'
$steve-go-x: 276px
$steve-go-y: 140px
$steve-go-offset-x: -276px
$steve-go-offset-y: -140px
$steve-go-width: 20px
$steve-go-height: 32px
$steve-go-total-width: 492px
$steve-go-total-height: 438px
$steve-go-image: '../img/sprite.png'
$steve-go: (276px, 140px, -276px, -140px, 20px, 32px, 492px, 438px, '../img/sprite.png', 'steve_go', )
$steve-jump-name: 'steve_jump'
$steve-jump-x: 296px
$steve-jump-y: 140px
$steve-jump-offset-x: -296px
$steve-jump-offset-y: -140px
$steve-jump-width: 23px
$steve-jump-height: 27px
$steve-jump-total-width: 492px
$steve-jump-total-height: 438px
$steve-jump-image: '../img/sprite.png'
$steve-jump: (296px, 140px, -296px, -140px, 23px, 27px, 492px, 438px, '../img/sprite.png', 'steve_jump', )
$steve-stand-name: 'steve_stand'
$steve-stand-x: 412px
$steve-stand-y: 140px
$steve-stand-offset-x: -412px
$steve-stand-offset-y: -140px
$steve-stand-width: 8px
$steve-stand-height: 32px
$steve-stand-total-width: 492px
$steve-stand-total-height: 438px
$steve-stand-image: '../img/sprite.png'
$steve-stand: (412px, 140px, -412px, -140px, 8px, 32px, 492px, 438px, '../img/sprite.png', 'steve_stand', )
$spritesheet-width: 492px
$spritesheet-height: 438px
$spritesheet-image: '../img/sprite.png'
$spritesheet-sprites: ($go-jump, $go-to-left, $go-to-right, $player-go-, $sprinter-go-1, $sprinter-go-2, $sprinter-go-3, $sprinter-go-4, $sprinter-go-5, $sprinter-go-6, $sprinter-go-7, $sprinter-go-8, $sprinter-jump, $sprinter-stand, $steve-go, $steve-jump, $steve-stand, )
$spritesheet: (492px, 438px, '../img/sprite.png', $spritesheet-sprites, )

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home
//   @include sprite-width($icon-home)
//
// .icon-email
//   @include sprite($icon-email)
//
// Example usage in HTML:
//   `display: block` sprite:
//   <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//   // CSS
//   .icon {
//     display: inline-block;
//   }
//
//   // HTML
//   <i class="icon icon-home"></i>
@mixin sprite-width($sprite)
  width: nth($sprite, 5)

@mixin sprite-height($sprite)
  height: nth($sprite, 6)

@mixin sprite-position($sprite)
  $sprite-offset-x: nth($sprite, 3)
  $sprite-offset-y: nth($sprite, 4)
  background-position: $sprite-offset-x  $sprite-offset-y

@mixin sprite-image($sprite)
  $sprite-image: nth($sprite, 9)
  background-image: url(#{$sprite-image})

@mixin sprite($sprite)
  @include sprite-image($sprite)
  @include sprite-position($sprite)
  @include sprite-width($sprite)
  @include sprite-height($sprite)

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SASS
//
// @include sprites($spritesheet-sprites)
@mixin sprites($sprites)
  @each $sprite in $sprites
    $sprite-name: nth($sprite, 10)
    .#{$sprite-name}
      @include sprite($sprite)
